@{
    Layout="Shared/_Layout.cshtml";
}


<h3> List of bands: </h3>
<div class="collection">
    @foreach(var band in Model)
    {
        <a href="/single-band/@band.GetId()" class="collection-item"><span class="badge"></span>@band.GetName()</a>
    }
 </div>

 <a class="btn-floating" href="/"><i class="material-icons">fast_rewind</i>button</a>
