@{
    Layout="Shared/_Layout.cshtml";
}

<h3> @Model.GetName() </h3>

<h5> List of venues: </h5>
<div class="collection">
    @foreach(var venue in Model.GetVenues())
    {
        <a href="/single-venue/@venue.GetId()" class="collection-item"><span class="badge"></span>@venue.GetName()</a>
    }
 </div>

<a class="btn-floating" href="/"><i class="material-icons">fast_rewind</i>button</a>
